.navbar{
    background-color: rgb(25, 118, 210);
    color:white ;

    .logo{
        display: flex;
        a{
            text-decoration: none;
            color: white;
            margin: 5px;
            font-size:medium;
            font-weight: 500;
            margin-left: 10px;

        }
    }

    .newannouncement{
        i{
            margin-right: 10px;
        }
    }

}

.logo{
    &:hover{
        color: #80e41b !important;
    }
}