.filter {
  overflow: hidden;
  transition: all .3s;
  background-color: aliceblue;

  .today {
    font-size: large;
    font-weight: 400;

  }

  a {
    text-decoration: none;
  }

  .css-o4b71y-MuiAccordionSummary-content {
    justify-content: space-between;
  }
  #more-filter {
    transition: all 3000 !important;
    overflow: hidden;

    .morefilterbody {
      transition: all .3s;
      width: 100%;
    }

    #more-icon{
      cursor: pointer;
    }
  }
}